.my-masonry-grid {
    display: -webkit-box; /* For old WebKit browsers */
    display: -ms-flexbox; /* For old IE10 */
    display: flex;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 1rem;
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    margin-bottom: 1rem;
}

/* Mobile styles */
@media (max-width: 600px) {
    .my-masonry-grid {
        display: block; 
        margin-left: 0; 
    }
    .my-masonry-grid > div {
        width: 100% !important;
    }
    
    .my-masonry-grid_column {
        padding-left: 0; 
    }
}
